/*

This is a development CSS file that is compiled to a minified
production stylesheet in assets/built/screen.css using: npm run dev

*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */

/* Base components */
@import "vars.css";
@import "fonts.css";
@import "components/global.css";
@import "components/forms.css";
@import "components/buttons.css";

/* Ghost components */
@import "ghost/header.css";
@import "ghost/content.css";
@import "ghost/readmore.css";
@import "ghost/members.css";
@import "ghost/errors.css";
@import "ghost/footer.css";
@import "ghost/badge.css";
@import "ghost/pagination.css";
@import "ghost/comments.css";



/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

html,
.gh-viewport {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #232A30;
}


.gh-main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.gh-page {
    padding: 0 4vmin;
}

.gh-article {
    color: #fff;
    padding: 8vmin 0;
    font-family: 'Nunito', sans-serif;
}

.gh-postfeed {
    color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    gap: 80px 4vmin;
    align-content: flex-end;
    align-items: start
}

.section-title {
    font-size: 26px;
    font-weight: 800;
    margin-block-end: -40px;
    color: var(--ghost-accent-color);
}

.gh-card-title {
    font-size: 24px;
    margin-block-end: 0;
}

.gh-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.gh-head-actions a:not(.gh-button) {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 10px;
}

.gh-head-actions a svg {
    height: 1.8rem;
    fill: currentcolor;
}

.gh-head-actions a:first-child svg {
    margin-left: 20px;
}

.gh-head-actions a:last-child svg {
    height: 2rem;
}

/* Index
/* ---------------------------------------------------------- */

.gh-card-link {
    display: flex;
    flex-direction: column;
}

.gh-card-image {
    width: 100%;
    object-fit: cover;
    margin-bottom: 4vmin;
    aspect-ratio: 1 / 1;
}

.gh-card-image:first-of-type {
    aspect-ratio: 16 / 9;
}


.gh-card-meta {
    display: block;
    font-size: 1.2rem;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
}

.gh-card-content {
    max-width: 720px;
    margin: 0 auto;
    font-size: 1.6rem;
}

.gh-card-content p {
    margin: 1.2rem 0;
}

.gh-card-content > strong {
    display: inline-block;
    padding: 1px 0;
    font-weight: 500;
    box-shadow: 0 -1px 0 0 inset currentColor;
    opacity: 0.75;
}

.card__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 10px;
}

.card__info .tag {
    margin-inline-end: 10px;
    padding: 4px 16px;
    border-radius: 30px;
    border: .1px solid #ffffff52;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.card__info .tag a {
    color: #fff;
    text-decoration: none;
}


/* Page
/* ---------------------------------------------------------- */

.gh-page-head {
    margin: 0 auto;
    padding: 8vmin 0 4vmin;
    text-align: center;
}

.gh-page-image {
    margin: 4vmin 0 0 0;
}

.gh-page-head > p {
    max-width: 720px;
    margin: 0.3em auto 0;
    padding: 0 6vmin;
    font-size: 1.3em;
    line-height: 1.4em;
    opacity: 0.5;
}

@media (max-width: 700px) {
    .gh-page-head > p {
        font-size: 1.6rem;
    }
}


/* Post
/* ---------------------------------------------------------- */

.gh-header {
    padding: 2.5rem 3rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    max-width: 720px;
    margin: 0 auto;
    text-align: left;
    background-color: #283139;
    margin-block-end: 40px;
    border-radius: 10px;
}

.gh-post-meta {
    display: block;
    margin: 0 0 1rem;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    opacity: 0.8;
}

.gh-excerpt {
    margin: 1rem 0 0 0;
}

.gh-feature-image {
    grid-column: wide-start / wide-end;
    width: 60%;
    margin: 8vmin 0 0;
}

.gh-feature-image img {
    margin-inline: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

figcaption {
    color: #fff;
}

.gh-post-footer {
    margin: 2rem 0;
}


/* Author Archive
/* ---------------------------------------------------------- */

.gh-author-image {
    height: 12vmin;
    width: 12vmin;
    margin: 0 auto 1.5em;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
}

.gh-author-meta {
    margin: 2vmin 0 0 0;
    font-size: 1.2em;
}

.gh-author-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gh-author-links a {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0 0.75vmin;
}

.gh-author-links a + a:before {
    display: block;
    content: "";
    margin: 0 1.25vmin 0 0;
    height: 1em;
    width: 1px;
    background: rgba(0,0,0,0.3);
    transform: rotate(20deg);
}

@media (max-width: 700px) {
    .gh-author-meta {
        font-size: 1.6rem;
    }
}

/* Hero Section */
.hero {
    background: transparent;
    padding: 0 0 8vmin 0;
    text-align: center;
    height: 300px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-start: 40px;
    position: relative;
    z-index: 1;
}

.hero__title {
    font-size: 3rem;
}

.hero__description {
    font-size: 2.5rem;
    margin-block-start: 14px;
}

.gh-hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}

.cover-icon {
    position: relative;
    margin-bottom: 32px;
}

.cover-icon-image {
    width: 120px;
    border-radius: 100%;
}